@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body {
  background-color: #A8D0E6;
  font-family: 'sans-serif', sans-serif;
  color: #343A40;
}

.show-card {
  background-color: #24305E;
}

.card-deck {
  display: flex;
}

.brand-name {
  font-family: 'Overpass', cursive;
  font-size: 32px;
}

.banner-img {
  max-width: 100%;
  max-height: 100%;
}

.banner-text {
  text-align: center;
  font-size: 26px;
}

.my-navbar {
  background-color: yellow;
}

.sign-in-link,
.sign-up-link,
.sign-in-link:hover,
.sign-up-link:hover {
  color: #374785;
}

.card-body {
  background-color: #374785;
  color: white;
}

.card-footer{
  background-color:#24305E;
}

.create-flashcard-button {
  background-color: #F8E9A1;
  color:#343A40;
}

.flashcard-button {
  background-color: #F8E9A1;
  color:#343A40;
}
